{{#each postList}}
<div class="container pb-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <strong>Author: {{this.author}}</strong> <strong class="font-italic">{{this.created_at}}</strong>
        </div>
        <div class="card-body">
            <div class="container-fluid d-flex justify-content-center">
                <h5 class="card-title">{{this.title}}</h5>
            </div>
            <div class="container-fluid ql-editor">{{{content}}}</div>
        </div>
    </div>
</div>
{{/each}}