<div class="container pb-3">
    <ul class="list-group w-100">
        {{#each postList}}
        <li class="list-group-item">
            <div class="row d-flex justify-content-between p-2">
                <div>
                    <a href="/posts/{{this.id}}">{{this.title}} (by: {{this.author}})</a>
                </div>
                <div>
                    {{this.created_at}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>