<div class="container-fluid error404-content d-flex flex-column justify-content-center align-items-center">
  <img src="/img/404.png" alt="404 emblem" class="error404-img pb-3">
  <a class="btn btn-primary" href="/" role="button">Back</a>
</div>