{{> adminHeader }}

<div class="container-fluid text-center">
    <h1>{{submenuTitle}}</h1>
</div>

<div class="container-fluid d-flex flex-row justify-content-center align-items-center pt-3 pb-3 dashboard-content">
    <div class="container-fluid d-flex flex-row justify-content-center">
        <div class="card text-center m-3 border border-primary rounded p-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/write.png" alt="Write new post image">

            <div class="card-body d-flex flex-column">
                <a class="btn btn-primary m-1" href="/posts" role="button">New Post</a>
                <a class="btn btn-primary m-1" href="/admin/list" role="button">List Posts</a>
            </div>
        </div>

        {{#ifeq user.role 'admin'}}
        <div class="card text-center m-3 border border-primary rounded p-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/options.png" alt="Write new post image">

            <div class="card-body d-flex flex-column">
                <a class="btn btn-primary m-1" href="/admin/config" role="button">Configurations</a>
            </div>
        </div>

        <div class="card text-center m-3 border border-primary rounded p-2" style="width: 18rem;">
            <img class="card-img-top" src="/img/accounts.png" alt="Write new post image">

            <div class="card-body d-flex flex-column">
                <a class="btn btn-primary m-1" href="/admin/accounts" role="button">Accounts</a>
            </div>
        </div>
        {{/ifeq}}
    </div>

</div>