<div class="container-fluid d-flex flex-row justify-content-end align-items-center p-2 dashboard-menu">
    <p class="mr-3">Loged in as: <strong>{{username}}</strong></p>
    <a href=" /logout">
        <figure>
            <img src="/img/logout.png" alt="logout button" class="logout-btn">
            <figcaption>Logout</figcaption>
        </figure>
    </a>
</div>

<div class="container-fluid text-center">
    <h1>{{submenuTitle}}</h1>
</div>

<div class="container-fluid d-flex flex-row justify-content-center align-items-center pt-3 pb-3 dashboard-content">
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="/img/write.png" alt="Write new post image">

        <div class="card-body d-flex flex-column">
            <a class="btn btn-primary m-1" href="/posts" role="button">New Post</a>
            <a class="btn btn-primary m-1" href="/admin/list" role="button">List Posts</a>
        </div>
    </div>

</div>