<div class="container-fluid d-flex flex-row justify-content-end align-items-center p-2">
    <p class="mr-3">Loged in as: <strong>{{username}}</strong></p>
    <a href=" /logout">
        <figure>
            <img src="/img/logout.png" alt="logout button" class="logout-btn">
            <figcaption>Logout</figcaption>
        </figure>
    </a>
</div>