html,
body {
	width: 100%;
	height: 100%;
}

div.login-container,
.error404-content,
.admin-post-list {
	min-width: 1280px;
	min-height: 720px;
}

.login-form {
	width: 500px;
}

.icon {
	width: 100%;
}

.logout-btn {
	width: 50px;
}

.dashboard-menu {
	min-height: 120px;
}

.dashboard-content {
	min-height: 600px;
}

.new-post-site {
	min-height: 720px;
}

.new-post-form {
	width: 75%;
}

.missing-fields-alert {
	display: none;
}

#post_content {
	height: 400px;
}

.read-post-header {
	min-height: 150px;
}

.post-info {
	min-height: 150px;
}

.post-content {
	min-height: 370px;
}

.error404-img {
	width: 50%;
}

.archive-container ul {
	list-style: none;
	padding-left: 20px;
}

#editor {
	width: 100%;
	height: 400px;
}

.ql-toolbar {
	width: 100%;
}
